In [1]:
# Import pandas and read in the datasets
import pandas as pd
path = 'C:/Users/rileycoburn/Desktop/Denison/DA/DA 301/Data/'
weather2010 = pd.read_csv('2010_weather_dataset.csv')
weather2011 = pd.read_csv('2011_weather_dataset.csv')
weather2012 = pd.read_csv('2012_weather_dataset.csv')
weather2013 = pd.read_csv('2013_weather_dataset.csv')
weather2014 = pd.read_csv('2014_weather_dataset.csv')
weather2015 = pd.read_csv('2015_weather_dataset.csv')
weather2016 = pd.read_csv('2016_weather_dataset.csv')
weather2017 = pd.read_csv('2017_weather_dataset.csv')
weather2018 = pd.read_csv('2018_weather_dataset.csv')
weather2019 = pd.read_csv('2019_weather_dataset.csv')
weather2020 = pd.read_csv('2020_weather_dataset.csv')

In [2]:
# In each year, select the counties that we will be analyzing
riverside2010DF = weather2010[weather2010['Name'] == 'Riverside, CA, United States']
bernadino2010DF = weather2010[weather2010['Name'] == 'San Bernardino, CA, United States']
riverside2011DF = weather2011[weather2011['Name'] == 'Riverside, CA, United States']
bernadino2011DF = weather2011[weather2011['Name'] == 'San Bernardino, CA, United States']
riverside2012DF = weather2012[weather2012['Name'] == 'Riverside, CA, United States']
bernadino2012DF = weather2012[weather2012['Name'] == 'San Bernardino, CA, United States']
riverside2013DF = weather2013[weather2013['Name'] == 'Riverside, CA, United States']
bernadino2013DF = weather2013[weather2013['Name'] == 'San Bernardino, CA, United States']
riverside2014DF = weather2014[weather2014['Name'] == 'Riverside, CA, United States']
bernadino2014DF = weather2014[weather2014['Name'] == 'San Bernardino, CA, United States']
riverside2015DF = weather2015[weather2015['Name'] == 'Riverside, CA, United States']
bernadino2015DF = weather2015[weather2015['Name'] == 'San Bernardino, CA, United States']
riverside2016DF = weather2016[weather2016['Name'] == 'Riverside, CA, United States']
bernadino2016DF = weather2016[weather2016['Name'] == 'San Bernardino, CA, United States']
riverside2017DF = weather2017[weather2017['Name'] == 'Riverside, CA, United States']
bernadino2017DF = weather2017[weather2017['Name'] == 'San Bernardino, CA, United States']
riverside2018DF = weather2018[weather2018['Name'] == 'Riverside, CA, United States']
bernadino2018DF = weather2018[weather2018['Name'] == 'San Bernardino, CA, United States']
riverside2019DF = weather2019[weather2019['Name'] == 'Riverside, CA, United States']
bernadino2019DF = weather2019[weather2019['Name'] == 'San Bernardino, CA, United States']
riverside2020DF = weather2020[weather2020['Name'] == 'Riverside, CA, United States']
bernadino2020DF = weather2020[weather2020['Name'] == 'San Bernardino, CA, United States']
#Combine all years and counties that we will be using into one dataset 
countiesTotal = pd.concat([riverside2010DF, bernadino2010DF, riverside2011DF, bernadino2011DF, 
                           riverside2012DF, bernadino2012DF, riverside2013DF, bernadino2013DF,
                           riverside2014DF, bernadino2014DF, riverside2015DF, bernadino2015DF, 
                           riverside2016DF, bernadino2016DF, riverside2017DF, bernadino2017DF, 
                           riverside2018DF, bernadino2018DF, riverside2019DF, bernadino2019DF, 
                           riverside2020DF, bernadino2020DF])

In [3]:
# Computes the heat index based on relative humidity and temperature
heatIndex = -42.379 + 2.04901523*countiesTotal["Temperature"] + 10.14333127*countiesTotal["Relative Humidity"] - 0.22475541*countiesTotal["Temperature"]*countiesTotal["Relative Humidity"] - 0.683783*(10**(-3))*(countiesTotal["Temperature"])**2 - 5.481717*(10**(-2))*(countiesTotal["Relative Humidity"])**2 + 1.22874*(10**(-3))*(countiesTotal["Temperature"])**2 *countiesTotal["Relative Humidity"] + 8.5282*(10**(-4))*(countiesTotal["Relative Humidity"])**2 *countiesTotal["Temperature"] - 1.99*(10**(-6))*(countiesTotal["Relative Humidity"])**2 *(countiesTotal["Temperature"])**2
countiesTotal["Heat Index"] = heatIndex

In [4]:
# Creates the weather dataset containing the columns that we're interested in
weather = countiesTotal[['Name', 'Date time', 'Maximum Temperature', 'Minimum Temperature', 'Temperature', 
                         'Heat Index', 'Wind Chill','Precipitation', 'Wind Speed', 'Wind Direction', 'Wind Gust', 
                         'Visibility', 'Cloud Cover', 'Relative Humidity', 'Conditions']]

In [5]:
weather.describe() # Outputs summary statistics. We're missing some values for wind chill so we will calculate those
                   # using the wind chill formula.

,Maximum Temperature,Minimum Temperature,Temperature,Heat Index,Wind Chill,Precipitation,Wind Speed,Wind Direction,Wind Gust,Visibility,Cloud Cover,Relative Humidity
count,8036.000000,8036.000000,8036.000000,8036.000000,2281.000000,8036.000000,8036.000000,8036.000000,5913.000000,8036.000000,8036.000000,8036.000000
mean,79.241638,53.933387,65.406073,107.506722,42.309601,0.025559,12.356172,182.764516,23.499966,9.397860,27.415207,54.429299
std,13.024609,9.189445,10.224320,8.896564,4.721822,0.129465,3.457599,60.813895,6.177800,4.032895,26.788449,18.159842
min,47.200000,28.400000,39.800000,78.204189,23.900000,0.000000,3.000000,20.040000,13.900000,3.100000,0.000000,6.120000
25%,69.200000,47.000000,57.700000,102.270609,39.400000,0.000000,10.000000,141.880000,20.400000,9.100000,4.375000,41.195000
50%,79.700000,53.700000,64.800000,105.402307,43.300000,0.000000,12.800000,184.960000,21.900000,9.800000,19.200000,57.585000
75%,89.600000,60.500000,73.000000,111.880309,46.100000,0.000000,14.700000,230.720000,24.600000,9.900000,43.200000,67.672500
max,116.600000,81.600000,96.400000,150.702593,49.600000,2.570000,31.000000,303.880000,128.800000,228.600000,100.000000,98.010000

In [6]:
# We are not missing any values for the data that we need to calculate wind chill
weather['Temperature'].isnull().sum()
weather['Wind Speed'].isnull().sum()

0

In [7]:
# Computing the value for wind chill and assigning it as a column to the weather dataset
windChill = 35.78 + 0.6215*weather['Temperature'] - 35.75*(weather['Wind Speed']**0.16) + 0.4275*weather['Temperature']*(weather['Wind Speed']**0.16)
weather["Wind Chill"] = windChill

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
# Created a value for wind chill for every row in the column
weather['Wind Chill'].isnull().sum()

0

In [9]:
# We're still missing some values for wind gust. Since we don't have a formula to calculate this, we will remove
# it from the dataset
weather.describe()

,Maximum Temperature,Minimum Temperature,Temperature,Heat Index,Wind Chill,Precipitation,Wind Speed,Wind Direction,Wind Gust,Visibility,Cloud Cover,Relative Humidity
count,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000,5913.000000,8036.000000,8036.000000,8036.000000
mean,79.241638,53.933387,65.406073,107.506722,64.994106,0.025559,12.356172,182.764516,23.499966,9.397860,27.415207,54.429299
std,13.024609,9.189445,10.224320,8.896564,12.628368,0.129465,3.457599,60.813895,6.177800,4.032895,26.788449,18.159842
min,47.200000,28.400000,39.800000,78.204189,33.892167,0.000000,3.000000,20.040000,13.900000,3.100000,0.000000,6.120000
25%,69.200000,47.000000,57.700000,102.270609,55.523299,0.000000,10.000000,141.880000,20.400000,9.100000,4.375000,41.195000
50%,79.700000,53.700000,64.800000,105.402307,64.092049,0.000000,12.800000,184.960000,21.900000,9.800000,19.200000,57.585000
75%,89.600000,60.500000,73.000000,111.880309,74.213390,0.000000,14.700000,230.720000,24.600000,9.900000,43.200000,67.672500
max,116.600000,81.600000,96.400000,150.702593,104.176902,2.570000,31.000000,303.880000,128.800000,228.600000,100.000000,98.010000

In [10]:
weather['Wind Gust'].isnull().sum()

2123

In [11]:
# Drop wind gust as a column in our data frame
weather.drop(["Wind Gust"], axis =1, inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [12]:
# Now we are no longer missing any value in the data frame 
weather.describe()

,Maximum Temperature,Minimum Temperature,Temperature,Heat Index,Wind Chill,Precipitation,Wind Speed,Wind Direction,Visibility,Cloud Cover,Relative Humidity
count,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000
mean,79.241638,53.933387,65.406073,107.506722,64.994106,0.025559,12.356172,182.764516,9.397860,27.415207,54.429299
std,13.024609,9.189445,10.224320,8.896564,12.628368,0.129465,3.457599,60.813895,4.032895,26.788449,18.159842
min,47.200000,28.400000,39.800000,78.204189,33.892167,0.000000,3.000000,20.040000,3.100000,0.000000,6.120000
25%,69.200000,47.000000,57.700000,102.270609,55.523299,0.000000,10.000000,141.880000,9.100000,4.375000,41.195000
50%,79.700000,53.700000,64.800000,105.402307,64.092049,0.000000,12.800000,184.960000,9.800000,19.200000,57.585000
75%,89.600000,60.500000,73.000000,111.880309,74.213390,0.000000,14.700000,230.720000,9.900000,43.200000,67.672500
max,116.600000,81.600000,96.400000,150.702593,104.176902,2.570000,31.000000,303.880000,228.600000,100.000000,98.010000

In [13]:
# The conditions variable has nine unique values. These can be generalized into four main categories:
# clear, rain, cloudy, snow. We will assign these values to each corresponding value in the data frame column.
print(pd.unique(weather['Conditions']))

['Clear' 'Partially cloudy' 'Rain, Partially cloudy' 'Rain, Overcast'
 'Rain' 'Overcast' 'Snow' 'Snow, Partially cloudy' 'Snow, Overcast']

In [14]:
#weather.loc[weather.Conditions == "Clear", 'Conditions'] = 0
#weather.loc[weather.Conditions == "Rain, Overcast" or "Rain" or "Rain, Partially cloudy", 'Conditions'] = 1
#weather.loc[weather.Conditions == "Partially cloudy" or "Overcast", 'Conditions'] = 2
#weather.loc[weather.Conditions == "Snow" or "Snow, Partially cloudy" or "Snow, Overcast", 'Conditions'] = 3

# Not sure how to make the conditions variable into the 4 groups

In [15]:
weather.describe()

,Maximum Temperature,Minimum Temperature,Temperature,Heat Index,Wind Chill,Precipitation,Wind Speed,Wind Direction,Visibility,Cloud Cover,Relative Humidity
count,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000,8036.000000
mean,79.241638,53.933387,65.406073,107.506722,64.994106,0.025559,12.356172,182.764516,9.397860,27.415207,54.429299
std,13.024609,9.189445,10.224320,8.896564,12.628368,0.129465,3.457599,60.813895,4.032895,26.788449,18.159842
min,47.200000,28.400000,39.800000,78.204189,33.892167,0.000000,3.000000,20.040000,3.100000,0.000000,6.120000
25%,69.200000,47.000000,57.700000,102.270609,55.523299,0.000000,10.000000,141.880000,9.100000,4.375000,41.195000
50%,79.700000,53.700000,64.800000,105.402307,64.092049,0.000000,12.800000,184.960000,9.800000,19.200000,57.585000
75%,89.600000,60.500000,73.000000,111.880309,74.213390,0.000000,14.700000,230.720000,9.900000,43.200000,67.672500
max,116.600000,81.600000,96.400000,150.702593,104.176902,2.570000,31.000000,303.880000,228.600000,100.000000,98.010000

In [16]:
weather.to_csv('aggregated_weather.csv', index=False)

In [17]:
sanBernadinoFires = pd.read_csv('hist_incident_data-san bernardino.csv')
riversideFires = pd.read_csv('hist_incident_data-riverside.csv')

In [18]:
riversideFires.head()

,incident_name,incident_is_final,incident_date_last_update,incident_date_created,incident_date_extinguished,incident_administrative_unit,incident_county,incident_location,incident_acres_burned,incident_containment,incident_cooperating_agencies,incident_longitude,incident_latitude,incident_id,incident_url,...16,is_active,calfire_incident
0,Summit Fire,True,2013-05-04T18:30:00Z,2013-05-01T12:38:00Z,2013-05-04T18:30:00Z,CAL FIRE/Riverside County Fire,riverside,Mias Canyon and Bluff Road in Banning,3166.0,100.0,CAL FIRE/Riverside County Fire,-116.941311,34.288877,a1b14be5-a8cf-4e40-8588-96becf4c5879,https://www.fire.ca.gov/incidents/2013/5/1/sum...,NaN,N,True
1,Gorgonio Fire,True,2013-05-05T18:45:00Z,2013-05-04T11:43:00Z,2013-05-05T18:45:00Z,CAL FIRE/Riverside County Fire,riverside,"Highway 243, south of Banning and north of Pin...",510.0,100.0,CAL FIRE/Riverside County Fire,-116.855019,33.894055,958ce6d2-97f9-4848-8620-d14ab87f329d,https://www.fire.ca.gov/incidents/2013/5/4/gor...,NaN,N,True
2,54 Fire,True,2013-05-17T08:30:00Z,2013-05-16T13:48:00Z,2013-05-17T08:30:00Z,CAL FIRE Riverside Unit,riverside,"Avenue 54 and Tyler Street, near the community...",40.0,100.0,CAL FIRE Riverside Unit,-116.161201,33.655638,e215290f-d0b4-48fd-be32-f599959347b1,https://www.fire.ca.gov/incidents/2013/5/16/54...,NaN,N,True
3,Cherry Fire,True,2013-05-20T18:50:00Z,2013-05-20T13:47:00Z,2013-05-20T18:50:00Z,CAL FIRE Riverside Unit,riverside,Off Sunset Ave & Mesa St in Banning,25.0,100.0,CAL FIRE Riverside Unit,-116.907213,33.962010,a60e315c-23d5-4ba4-869c-5c1e22a25e7a,https://www.fire.ca.gov/incidents/2013/5/20/ch...,NaN,N,True
4,Water Fire,True,2013-05-21T19:30:00Z,2013-05-21T14:16:00Z,2013-05-21T19:30:00Z,CAL FIRE/Riverside County Fire,riverside,Off Whitewater Canyon Road in Whitewater,90.0,100.0,CAL FIRE/Riverside County Fire,-116.653400,33.958200,13850faa-5bab-4fd7-bac3-433ce9250c4d,https://www.fire.ca.gov/incidents/2013/5/21/wa...,NaN,N,True

In [19]:
riversideFires = riversideFires[['incident_date_created', 'incident_county', 'incident_acres_burned',
                                'incident_longitude', 'incident_latitude']]
sanBernadinoFires = sanBernadinoFires[['incident_date_created', 'incident_county', 'incident_acres_burned',
                                'incident_longitude', 'incident_latitude']]

In [20]:
# From here we should decide how we want to join the data. I think leaving them separate is good for now since
# we have to analyze weather and fires individually first.